.logo-container{
    z-index: 0;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 10%;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    svg{
            width:100%;
            height: auto;
            bottom: 0;
            transform: rotateZ(30deg)!important;
    }
    .solid-logo{
         position:absolute;
         top:auto;
         right: auto;
         bottom: auto;
         left: 0;
         margin: auto;
         width: 100%;
            
         opacity: 1;
         transform: rotateZ(30deg);

    }
    
}
.svg-container{
    color : rgb(248, 151, 40);
    stroke-width: 100px;
    animation: blinker2 2s cubic-bezier(1, 0, 0, 1) infinite alternate;  
   
}

svg {
    animation: blinker3 2s reverse infinite alternate;  
  }
.active{
    
    animation: blinker3 2s ease-in-out infinite ; 
  }

  @keyframes blinker3 { to { opacity: 0; } }
  @keyframes blinker2 { to { filter: contrast(0);  } }
  @media screen and (max-width: 600px) {

  .logo-container svg {
    width: 45%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
    right: 0;
    position: absolute;
  }
  .logo-container  .solid-logo{
    bottom: 0%;
    right: 0;
    width: 45%;
    left: auto;
    right: 0;
  }
}